{
  "service": {
    "name": "infra/storage/portworx",
    "user": "root",
    "principal": "infra-storage-portworx",
    "secret_name": "/infra/storage/portworx/private-infra-storage-portworx"
  },
  "node": {
    "count": NODES
  },
  "etcd": {
    "enabled": true
  },
  "lighthouse": {
    "enabled": true,
    "public_agent": false
  }
}
